* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .home-route-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.teams-list-container {
  width: 90%;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .teams-list-container {
    width: 90%;
    max-width: 1110px;
  }
}

.ipl-dashboard-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 25px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 96px;
  }
}

.ipl-dashboard-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 36px;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .ipl-dashboard-heading {
    font-size: 72px;
    margin-left: 16px;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.latest-match-container {
  margin-top: 24px;
}

.latest-match-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
  display: block;
}

.latest-match-card {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  border-radius: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .latest-match-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.latest-match-details-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .latest-match-details-logo-container {
    width: 65%;
    padding-left: 32px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 992px) {
  .latest-match-details-logo-container {
    width: 60%;
  }
}

.latest-match-details-1 {
  width: 70%;
}

@media screen and (min-width: 768px) {
  .latest-match-details-1 {
    width: 48%;
    align-self: flex-start;
  }
}

.latest-match-team-name {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .latest-match-team-name {
    font-size: 36px;
  }
}

.latest-match-date {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .latest-match-date {
    font-size: 24px;
  }
}

.match-details {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .match-details {
    font-size: 16px;
  }
}

.latest-match-team-logo {
  max-height: 60px;
}

@media screen and (min-width: 768px) {
  .latest-match-team-logo {
    max-width: 200px;
    max-height: 200px;
  }
}

.separator {
  border: 1px solid #475569;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .separator {
    display: none;
  }
}

.latest-match-details-2 {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .latest-match-details-2 {
    text-align: right;
    width: 33%;
    padding-left: 0px;
    padding-right: 32px;
  }
}

.latest-match-details-label {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .latest-match-details-label {
    font-size: 18px;
  }
}

.latest-match-details-value {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .latest-match-details-value {
    font-size: 14px;
  }
}
.match-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  width: 48%;
  border-radius: 16px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .match-item {
    width: 30%;
    padding: 24px;
    margin-bottom: 32px;
  }
}

.competing-team-logo {
  max-width: 60px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .competing-team-logo {
    max-width: 150px;
    height: 150px;
  }
}
.competing-team-name {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 16px;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .competing-team-name {
    font-size: 24px;
  }
}

.result {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .result {
    font-size: 16px;
  }
}

.match-status {
  font-family: 'Bree Serif';
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .match-status {
    font-size: 24px;
  }
}

.match-won {
  color: #18ed66;
}

.match-lost {
  color: #e31a1a;
}
.team-item {
  list-style-type: none;
  width: 50%;
}

.link {
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  height: 85%;
  border-radius: 12px;
  border: 1px solid #ffffff;
  padding-left: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 7px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 24px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .link {
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

.team-logo {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 768px) {
  .team-logo {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 992px) {
  .team-logo {
    width: 150px;
    height: 150px;
  }
}

.team-name {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .team-name {
    font-size: 32px;
    margin-left: 16px;
  }
}
.team-matches-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.rcb {
  background: linear-gradient(to top, #1e293b, #a4261d);
}

.kkr {
  background: linear-gradient(to top, #1e293b, #5755a7);
}

.kxp {
  background: linear-gradient(to top, #1e293b, #d91c1f);
}

.csk {
  background: linear-gradient(to top, #1e293b, #f7db00);
}

.rr {
  background: linear-gradient(to top, #1e293b, #da237b);
}

.mi {
  background: linear-gradient(to top, #1e293b, #13418b);
}

.srh {
  background: linear-gradient(to top, #1e293b, #f26d22);
}

.dc {
  background: linear-gradient(to top, #1e293b, #4f5db0);
}

.responsive-container {
  width: 90%;
  max-width: 500px;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    margin-top: 96px;
    max-width: 1110px;
  }
}

.team-banner {
  width: 100%;
}

.recent-matches-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .recent-matches-list {
    margin-top: 32px;
  }
}
